.reveal h3 {
  text-transform: none;
}

#gp-logo img {
  max-height: 5rem;
  width: 89px;
  height: 114px;
}

.level1>h1 {
  margin-top: 25%;
}
span.header-section-number {
  margin-right: 0.5em;
}
.reveal li {
  margin-top:0.2em;
}
.reveal ul ul li {
  font-size:0.85em;
  margin-top:0;
}
